[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DRHotNet"]
	path = DRHotNet
	url = https://github.com/cran/DRHotNet
[submodule "LearnGeom"]
	path = LearnGeom
	url = https://github.com/cran/LearnGeom
